html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url(../images/cars-unsplash.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
body.style {
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
body.corvette {
    background-image: url(../images/corvette.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
body.range-rover {
    background-image: url(../images/Range-Rover.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
body.pilot {
    background-image: url(../images/2020-Honda-Pilot.jpg);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    margin: 0;
    
}
h1 {
    color: white;
    background-size: 300px;
   
}
h2 {
    color: white;
    
}
h2 ul {
    color: white;
   
}
a {
    color: white;
   
}

h3 {
    color: white;
    
}
p {
    color: white;
    font-size: large;
    margin-right: 50%;
    text-align: left;
    text-justify: auto;    
    
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
}

label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
    color: white;
}
.btn{
    margin-top: 10px;
}

.input-align input{
margin-left: 20em;

}

.input-align label {
    position: absolute;
    
    }
.comment{
    color: white;
    font-size: large;
    
}

ul.comment {
    list-style: none;    
}

.comment-input-align input{
    margin-left: 5em;
}
