<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Keyboard-Warriors Car Reviews</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/styles.css" type="text/css"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Keyboard-Warriors Car Reviews</h1>
        <a href="/">Home</a>
    </header>
    <h2 th:text="${category.name}">SUVs</h2>
    <ul th:each="review: ${category.reviews}">
        <li><a th:text="${review.year} + ' ' + ${review.make} + ' ' +  ${review.model} + ' Review'" th:href="@{'/reviews/'+ ${review.make}}">Honda
            Pilot Review</a></li>
    </ul>
    <form action="review/add" method="POST" class="new-review-form">
        <label for="new-review__year-input" class="form__label">Year</label>
        <input type="text" name="year" id="new-review__year-input">
        <br>
        <label for="new-review__make-input" class="form__label">Make</label>
        <input type="text" name="make" id="new-review__make-input">
        <br>
        <label for="new-review__model-input" class="form__label">Model</label>
        <input type="text" name="model" id="new-review__model-input">
        <br>
        <label for="new-review__hashtag-input" class="form__label">Hashtag</label>
        <input type="text" name="hashtagName" id="new-review__hashtag-input">
        <br>
        <label for="new-review__body-input" class="form__label">Review</label>
        <input type="text" name="review" id="new-review__body-input" min="10" max="100">
        <br>
        <label for="new-review__backgroundpic-input" class="form__label">Background Picture URL</label>
        <input type="text" name="backGroundPic" id="new-review__backgroundpic-input">
        <br>
        <input type="hidden" name="category" id="" th:value="${category.id}">
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
</body>
</html>
